
[submodule "com.renoise.Duplex.xrnx/cLib"]
	path = com.renoise.Duplex.xrnx/cLib
	# url = https://github.com/ylmrx/rns_cLib
	url = https://github.com/ylmrx/rns_cLib
	branch = fix/cscheduler
[submodule "com.renoise.Duplex.xrnx/xLib"]
	path = com.renoise.Duplex.xrnx/xLib
	url = https://github.com/esaruoho/xLib
	branch = master
[submodule "com.renoise.Duplex.xrnx/com.renoise.Duplex.xrnx/cLib"]
	path = com.renoise.Duplex.xrnx/com.renoise.Duplex.xrnx/cLib
	url = https://github.com/ylmrx/rns_cLib
	branch = fix/cscheduler
